html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal, .fighting-area {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 999;
}

.modal-close {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 30px;
    height: 30px;
    box-shadow: none;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 15px;
    color: #fff;
    right: 15px;
    transition: color 0.3s ease,
                background-color 0.3s ease;
}
.modal-close:hover {
    color: rgb(240,240,240);
    background-color: rgb(0,0,0, 0.2);
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
}
.fighter-name {
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto 15px auto;
    padding: 0;
}
.modal-form img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
}
.input_wrapper {
    display: flex;
    margin-bottom: 15px;
    justify-content: flex-start;
}
.input_name {
    display: block;
    margin: 0 15px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    flex-shrink: 0;
    width: 85px;
}
.input_wrapper input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    box-shadow: none;
    outline: none;
    background: #fff;
    display: block;
    width: calc(100% - 100px);
}
.modal-form > input,
.fighters .button-fight {
    margin: 15px 0 0 0;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    box-shadow: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: navy;
    border: 0;
    transition: background-color 0.3s ease;
}
.modal-form > input:hover,
.fighters .button-fight:hover {
    background-color: #0000a0;
}
.fighters .button-fight {
    width: 290px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}
.fighter .select-fighter_wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    margin: 15px auto 0 auto;
}
.fighter .select-fighter {
    display: block;
    margin: auto 15px auto 0;
    flex-shrink: 0;
    cursor: pointer;
}
.fighter .select-fighter_name {
    display: block;
    flex-grow: 1;
    margin: 0;
}
.fighting-area {
    justify-content: space-around;
    align-items: flex-start;
    pointer-events: none;
}
.fighting-area ~ div {
    pointer-events: none;
    user-select: none;
}
.fighting-area .winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    user-select: none;
    font-size: 4.5vw;
    line-height: normal;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease,
                z-index 0.3s ease;
}
.fighting-area .winner .winner-name {
    text-transform: uppercase;
}
.fighting-area.active .winner {
    opacity: 1;
    z-index: 1000;
}
.player {
    margin: auto 0;
    max-width: 33.3333%;
    display: block;
    text-align: center;
    padding: 15px;
}
.player.active {
    outline: #0000a0 auto 5px;
}
.player .player-name {
    color: #fff;
    margin: 0 auto 15px auto;
    display: block;
}
.player .player-health {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.player .player-logo {
    display: block;
    width: auto;
    height: 50vh;
    margin: 15px auto 0 auto;
}
.player.player-2 .player-logo {
    transform: scale(-1,1);
}